.jumbotron img{
    float: left;
}
.jumbotron p{
font-size: 20px;
}
.generator{
  background-color: #17A589 ;
    background-size: cover; 
    height: 80vh;
    border-radius: 5px;
}
.generator P{
    color: white;
}
input{
    padding-top: 5px;
    margin-top: 5px;
}
.form{
    padding-left: 20%;
}
button{
   margin: 5px;
   text-align: center;
   
}