.jumbotron{
    padding-bottom: 20px;
}
.jumbotron img{
    float: left;
}
.jumbotron p{
font-size: 20px;
}
.generator{
  background-color: #17A589 ;
    background-size: cover; 
    height: 50vh;
    border-radius: 5px;
}
.generator P{
    color: white;
    
}
input{
    padding-top: 5px;
    margin-top: 5px;
}
.form{
    padding-left: 20%;
}
button{
   margin-left: 25%;
   text-align: center;
   border-radius: 20px;
   background-color: peru;
   color:white;
   
}
.form-control{
    width: 80px;
}
.form-group{
    padding-right: 20px;
    display: flex;
   
}
.form-controls{
    width: 100%;
   
}
.gen{
    padding-left: 20%;
    font-weight: bold;
}
.btn{
    background-color: lavender;
    padding-right: 20px;
}
.btn:hover{
    background-color: chocolate;
}
.row{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.checkbox{
    padding-left: 25%;
    
}
#output{
    background-color: maroon;
    color: white;
    padding: 30px;
    font-size: 25px;
}
.body-p{
    background-color: #17A589;
    color: white;
    padding: 10px;
}